# langsmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=lsv2_xxxxxxxx
LANGSMITH_PROJECT="langchain_project"

# huggingface
HF_ENDPOINT=https://hf-mirror.com
HF_HOME=D:\\huggingface_cache
EMBEDDING_MODEL=BAAI/bge-m3



# aliyun bailian dashscope 
DASHSCOPE_API_KEY=sk-xxxxxxxx
DASHSCOPE_API_BASE=https://dashscope.aliyuncs.com/compatible-mode/v1
# DASHSCOPE_MODEL_NAME=qwen3.6-flash
DASHSCOPE_MODEL_NAME=qwen3.5-flash

# assembly voice
AssemblyAI_API_KEY=xxxxxxxxx
